@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*
    Organização e Primeiros Passos.
        .Charset para aceitar acentuação
        .Importei as fontes utilizadas
        .Criei variáveis com as fontes
        .Com o * consegui tirar a margem, o padding, e determinei o tamanho das fontes
            (Isso faz com que alinhe tudo de maneira do "0")
        .No html, body determinei o tamanho mínimo com vh. Para criar também responsividade

    Pontos importantes.
        .Utilizei sempre pra determinar o tamanho das fontes, o "vh"
            (Consigo criar tamanha responsividade para celulares, pois vh determina o tamanho da fonte de acordo com a largura da tela)
        .
*/



:root {
    --fonte1: Verdana, Genea, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; ==> ou */
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;         /*Importante*/
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;          /*Importante*/
    padding-bottom: 10vh;          /*Importante*/
    line-height: 2em;         /*Importante*/
    padding-left: 10vh;          /*Importante*/
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
    box-shadow: inset 20px 20px 40px 5px rgba(0, 0, 0, 0.521);         /*Importante*/
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3vh;
    text-shadow: 2px 2px 0 black;
}

section#img01 {
    background-image: url(/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;         /*Importante*/
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}