@charset "UTF-8";

header {
    background-image: linear-gradient(to top, darkgreen, lightgreen);
    height: 200px;
}

body {
    background-color: #89cda5;
    font-family: Arial, Helvetica, sans-serif;
}

#principaltitulo {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.ancorasbrancas {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@font-face {
    font-family: 'fonteandroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#conteudoprincipal {
    background-color: white;
    margin: auto;
    width: 1000px;
    height: auto;
}

.fontemascote{
    font-family: 'fonteandroid', Arial, Helvetica, sans-serif;
    color: #1a5a37;
    display: flex;
}

footer {
    background-color: #1a5a37;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
}

.ancorafooter {
    color: white;
    text-decoration: none;
    font-weight: bold;
}